* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    background: url("../assets/indexBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#details {
    box-shadow: 0px 0px 15px whitesmoke;
}